<p>Valor Atual: {{ valorAtual }}</p>

<div class="quiz-container">
    <div>
      <h1>Teste de Competência</h1>
      <h2>Adobe Photoshop</h2>
      <h3>Questão {{ currentQuestionIndex + 1 }} de {{ questions.length }}</h3>
      <p class="question">{{ questions[currentQuestionIndex].text }}</p>
    </div>
  
    <div>
      <div>
        <div id="questions-container" style="height: 100%;">
          <h3>Selecione uma alternativa:</h3>
        </div>
        <div>
          <ul class="options">
            <li *ngFor="let option of questions[currentQuestionIndex].options" [attr.data-letter]="option.letter">
                <input
                type="button"
                [id]="'option' + option.value"
                name="option"
                [value]="option.value"
                (click)="selectOption(option.value)"
              />
              <label [for]="'option' + option.value">{{ option.text }}</label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <p *ngIf="testeConcluido">Teste concluído! Obrigado por participar.</p>